spring:
  application:
    name: secret-santa
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          # "certain default timeout values are infinite,
          # and you may want to change that to avoid having a thread blocked by an unresponsive mail server"
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
